// ----------------------------------------------------------------------------
// Flexie Grid Options
// ----------------------------------------------------------------------------
$flexie: (
  gutter: 20px,
  columns: 10,
  container-width: 1140px
);
