/* line 18, ../../src/scss/base/_grid.scss */
.col {
  background: rgba(119, 193, 242, 0.2);
  box-shadow: inset 0 0 0 1px rgba(119, 193, 242, 0.2);
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 26, ../../src/scss/base/_grid.scss */
.box {
  background: #2ea0eb;
  border-radius: 3px;
  color: white;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
}
/* line 37, ../../src/scss/base/_grid.scss */
.box.box-large {
  padding-bottom: 75px;
}

/* line 48, ../../src/scss/base/_grid.scss */
.container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* line 53, ../../src/scss/base/_grid.scss */
.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 58, ../../src/scss/base/_grid.scss */
.col {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

/* line 68, ../../src/scss/base/_grid.scss */
.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
}

/* line 74, ../../src/scss/base/_grid.scss */
.row-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 75, ../../src/scss/base/_grid.scss */
.row-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 76, ../../src/scss/base/_grid.scss */
.row-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 79, ../../src/scss/base/_grid.scss */
.row-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 80, ../../src/scss/base/_grid.scss */
.row-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 81, ../../src/scss/base/_grid.scss */
.row-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* line 82, ../../src/scss/base/_grid.scss */
.row-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* line 85, ../../src/scss/base/_grid.scss */
.row-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

/* line 86, ../../src/scss/base/_grid.scss */
.row-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 89, ../../src/scss/base/_grid.scss */
.col-top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

/* line 90, ../../src/scss/base/_grid.scss */
.col-middle {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

/* line 91, ../../src/scss/base/_grid.scss */
.col-bottom {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

/* line 92, ../../src/scss/base/_grid.scss */
.col-stretch {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}

/* line 97, ../../src/scss/base/_grid.scss */
.order-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

/* line 97, ../../src/scss/base/_grid.scss */
.order-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

/* line 97, ../../src/scss/base/_grid.scss */
.order-3 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

/* line 97, ../../src/scss/base/_grid.scss */
.order-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
}

/* line 97, ../../src/scss/base/_grid.scss */
.order-5 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}

/* line 97, ../../src/scss/base/_grid.scss */
.order-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6;
}

/* line 97, ../../src/scss/base/_grid.scss */
.order-7 {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
      -ms-flex-order: 7;
          order: 7;
}

/* line 97, ../../src/scss/base/_grid.scss */
.order-8 {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
      -ms-flex-order: 8;
          order: 8;
}

/* line 97, ../../src/scss/base/_grid.scss */
.order-9 {
  -webkit-box-ordinal-group: 10;
  -webkit-order: 9;
      -ms-flex-order: 9;
          order: 9;
}

/* line 97, ../../src/scss/base/_grid.scss */
.order-10 {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
      -ms-flex-order: 10;
          order: 10;
}

/* line 109, ../../src/scss/base/_grid.scss */
.col-auto {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

/* line 114, ../../src/scss/base/_grid.scss */
.col-1 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  width: 100%;
}

/* line 114, ../../src/scss/base/_grid.scss */
.col-2 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  width: 50%;
}

/* line 114, ../../src/scss/base/_grid.scss */
.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 33.3333333333%;
      -ms-flex-preferred-size: 33.3333333333%;
          flex-basis: 33.3333333333%;
  width: 33.3333333333%;
}

/* line 114, ../../src/scss/base/_grid.scss */
.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  width: 25%;
}

/* line 114, ../../src/scss/base/_grid.scss */
.col-5 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  width: 20%;
}

/* line 114, ../../src/scss/base/_grid.scss */
.col-6 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 16.6666666667%;
      -ms-flex-preferred-size: 16.6666666667%;
          flex-basis: 16.6666666667%;
  width: 16.6666666667%;
}

/* line 114, ../../src/scss/base/_grid.scss */
.col-7 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 14.2857142857%;
      -ms-flex-preferred-size: 14.2857142857%;
          flex-basis: 14.2857142857%;
  width: 14.2857142857%;
}

/* line 114, ../../src/scss/base/_grid.scss */
.col-8 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 12.5%;
      -ms-flex-preferred-size: 12.5%;
          flex-basis: 12.5%;
  width: 12.5%;
}

/* line 114, ../../src/scss/base/_grid.scss */
.col-9 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 11.1111111111%;
      -ms-flex-preferred-size: 11.1111111111%;
          flex-basis: 11.1111111111%;
  width: 11.1111111111%;
}

/* line 114, ../../src/scss/base/_grid.scss */
.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 10%;
      -ms-flex-preferred-size: 10%;
          flex-basis: 10%;
  width: 10%;
}

@media (min-width: 45em) {
  /* line 130, ../../src/scss/base/_grid.scss */
  .row-reverse-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
  }

  /* line 136, ../../src/scss/base/_grid.scss */
  .row-start-md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  /* line 137, ../../src/scss/base/_grid.scss */
  .row-center-md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /* line 138, ../../src/scss/base/_grid.scss */
  .row-end-md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  /* line 141, ../../src/scss/base/_grid.scss */
  .row-top-md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  /* line 142, ../../src/scss/base/_grid.scss */
  .row-middle-md {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* line 143, ../../src/scss/base/_grid.scss */
  .row-bottom-md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  /* line 144, ../../src/scss/base/_grid.scss */
  .row-stretch-md {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  /* line 147, ../../src/scss/base/_grid.scss */
  .row-around-md {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }

  /* line 148, ../../src/scss/base/_grid.scss */
  .row-between-md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  /* line 151, ../../src/scss/base/_grid.scss */
  .col-top-md {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }

  /* line 152, ../../src/scss/base/_grid.scss */
  .col-middle-md {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }

  /* line 153, ../../src/scss/base/_grid.scss */
  .col-bottom-md {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }

  /* line 154, ../../src/scss/base/_grid.scss */
  .col-stretch-md {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
  }

  /* line 159, ../../src/scss/base/_grid.scss */
  .order-1-md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  /* line 159, ../../src/scss/base/_grid.scss */
  .order-2-md {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  /* line 159, ../../src/scss/base/_grid.scss */
  .order-3-md {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }

  /* line 159, ../../src/scss/base/_grid.scss */
  .order-4-md {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }

  /* line 159, ../../src/scss/base/_grid.scss */
  .order-5-md {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }

  /* line 159, ../../src/scss/base/_grid.scss */
  .order-6-md {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }

  /* line 159, ../../src/scss/base/_grid.scss */
  .order-7-md {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }

  /* line 159, ../../src/scss/base/_grid.scss */
  .order-8-md {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }

  /* line 159, ../../src/scss/base/_grid.scss */
  .order-9-md {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }

  /* line 159, ../../src/scss/base/_grid.scss */
  .order-10-md {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }

  /* line 168, ../../src/scss/base/_grid.scss */
  .col-auto-md {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }

  /* line 173, ../../src/scss/base/_grid.scss */
  .col-1-md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
  }

  /* line 173, ../../src/scss/base/_grid.scss */
  .col-2-md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    width: 50%;
  }

  /* line 173, ../../src/scss/base/_grid.scss */
  .col-3-md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
            flex-basis: 33.3333333333%;
    width: 33.3333333333%;
  }

  /* line 173, ../../src/scss/base/_grid.scss */
  .col-4-md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    width: 25%;
  }

  /* line 173, ../../src/scss/base/_grid.scss */
  .col-5-md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    width: 20%;
  }

  /* line 173, ../../src/scss/base/_grid.scss */
  .col-6-md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
            flex-basis: 16.6666666667%;
    width: 16.6666666667%;
  }

  /* line 173, ../../src/scss/base/_grid.scss */
  .col-7-md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 14.2857142857%;
        -ms-flex-preferred-size: 14.2857142857%;
            flex-basis: 14.2857142857%;
    width: 14.2857142857%;
  }

  /* line 173, ../../src/scss/base/_grid.scss */
  .col-8-md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 12.5%;
        -ms-flex-preferred-size: 12.5%;
            flex-basis: 12.5%;
    width: 12.5%;
  }

  /* line 173, ../../src/scss/base/_grid.scss */
  .col-9-md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 11.1111111111%;
        -ms-flex-preferred-size: 11.1111111111%;
            flex-basis: 11.1111111111%;
    width: 11.1111111111%;
  }

  /* line 173, ../../src/scss/base/_grid.scss */
  .col-10-md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 10%;
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
    width: 10%;
  }
}
@media (min-width: 71.25em) {
  /* line 185, ../../src/scss/base/_grid.scss */
  .row-reverse-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
  }

  /* line 191, ../../src/scss/base/_grid.scss */
  .row-start-lg {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  /* line 192, ../../src/scss/base/_grid.scss */
  .row-center-lg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /* line 193, ../../src/scss/base/_grid.scss */
  .row-end-lg {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  /* line 196, ../../src/scss/base/_grid.scss */
  .row-top-lg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  /* line 197, ../../src/scss/base/_grid.scss */
  .row-middle-lg {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* line 198, ../../src/scss/base/_grid.scss */
  .row-bottom-lg {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  /* line 199, ../../src/scss/base/_grid.scss */
  .row-stretch-lg {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  /* line 202, ../../src/scss/base/_grid.scss */
  .row-around-lg {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }

  /* line 203, ../../src/scss/base/_grid.scss */
  .row-between-lg {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  /* line 206, ../../src/scss/base/_grid.scss */
  .col-top-lg {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }

  /* line 207, ../../src/scss/base/_grid.scss */
  .col-middle-lg {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }

  /* line 208, ../../src/scss/base/_grid.scss */
  .col-bottom-lg {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }

  /* line 209, ../../src/scss/base/_grid.scss */
  .col-stretch-lg {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
  }

  /* line 214, ../../src/scss/base/_grid.scss */
  .order-1-lg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  /* line 214, ../../src/scss/base/_grid.scss */
  .order-2-lg {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  /* line 214, ../../src/scss/base/_grid.scss */
  .order-3-lg {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }

  /* line 214, ../../src/scss/base/_grid.scss */
  .order-4-lg {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }

  /* line 214, ../../src/scss/base/_grid.scss */
  .order-5-lg {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }

  /* line 214, ../../src/scss/base/_grid.scss */
  .order-6-lg {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }

  /* line 214, ../../src/scss/base/_grid.scss */
  .order-7-lg {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }

  /* line 214, ../../src/scss/base/_grid.scss */
  .order-8-lg {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }

  /* line 214, ../../src/scss/base/_grid.scss */
  .order-9-lg {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }

  /* line 214, ../../src/scss/base/_grid.scss */
  .order-10-lg {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }

  /* line 223, ../../src/scss/base/_grid.scss */
  .col-auto-lg {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }

  /* line 228, ../../src/scss/base/_grid.scss */
  .col-1-lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
  }

  /* line 228, ../../src/scss/base/_grid.scss */
  .col-2-lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    width: 50%;
  }

  /* line 228, ../../src/scss/base/_grid.scss */
  .col-3-lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
            flex-basis: 33.3333333333%;
    width: 33.3333333333%;
  }

  /* line 228, ../../src/scss/base/_grid.scss */
  .col-4-lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    width: 25%;
  }

  /* line 228, ../../src/scss/base/_grid.scss */
  .col-5-lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    width: 20%;
  }

  /* line 228, ../../src/scss/base/_grid.scss */
  .col-6-lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
            flex-basis: 16.6666666667%;
    width: 16.6666666667%;
  }

  /* line 228, ../../src/scss/base/_grid.scss */
  .col-7-lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 14.2857142857%;
        -ms-flex-preferred-size: 14.2857142857%;
            flex-basis: 14.2857142857%;
    width: 14.2857142857%;
  }

  /* line 228, ../../src/scss/base/_grid.scss */
  .col-8-lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 12.5%;
        -ms-flex-preferred-size: 12.5%;
            flex-basis: 12.5%;
    width: 12.5%;
  }

  /* line 228, ../../src/scss/base/_grid.scss */
  .col-9-lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 11.1111111111%;
        -ms-flex-preferred-size: 11.1111111111%;
            flex-basis: 11.1111111111%;
    width: 11.1111111111%;
  }

  /* line 228, ../../src/scss/base/_grid.scss */
  .col-10-lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 10%;
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
    width: 10%;
  }
}
@media (min-width: 90em) {
  /* line 240, ../../src/scss/base/_grid.scss */
  .row-reverse-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
  }

  /* line 246, ../../src/scss/base/_grid.scss */
  .row-start-xl {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  /* line 247, ../../src/scss/base/_grid.scss */
  .row-center-xl {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /* line 248, ../../src/scss/base/_grid.scss */
  .row-end-xl {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  /* line 251, ../../src/scss/base/_grid.scss */
  .row-top-xl {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  /* line 252, ../../src/scss/base/_grid.scss */
  .row-middle-xl {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* line 253, ../../src/scss/base/_grid.scss */
  .row-bottom-xl {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  /* line 254, ../../src/scss/base/_grid.scss */
  .row-stretch-xl {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  /* line 257, ../../src/scss/base/_grid.scss */
  .row-around-xl {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }

  /* line 258, ../../src/scss/base/_grid.scss */
  .row-between-xl {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  /* line 261, ../../src/scss/base/_grid.scss */
  .col-top-xl {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }

  /* line 262, ../../src/scss/base/_grid.scss */
  .col-middle-xl {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }

  /* line 263, ../../src/scss/base/_grid.scss */
  .col-bottom-xl {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }

  /* line 264, ../../src/scss/base/_grid.scss */
  .col-stretch-xl {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
  }

  /* line 269, ../../src/scss/base/_grid.scss */
  .order-1-xl {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  /* line 269, ../../src/scss/base/_grid.scss */
  .order-2-xl {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  /* line 269, ../../src/scss/base/_grid.scss */
  .order-3-xl {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }

  /* line 269, ../../src/scss/base/_grid.scss */
  .order-4-xl {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }

  /* line 269, ../../src/scss/base/_grid.scss */
  .order-5-xl {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }

  /* line 269, ../../src/scss/base/_grid.scss */
  .order-6-xl {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }

  /* line 269, ../../src/scss/base/_grid.scss */
  .order-7-xl {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }

  /* line 269, ../../src/scss/base/_grid.scss */
  .order-8-xl {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }

  /* line 269, ../../src/scss/base/_grid.scss */
  .order-9-xl {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }

  /* line 269, ../../src/scss/base/_grid.scss */
  .order-10-xl {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }

  /* line 278, ../../src/scss/base/_grid.scss */
  .col-auto-xl {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }

  /* line 283, ../../src/scss/base/_grid.scss */
  .col-1-xl {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
  }

  /* line 283, ../../src/scss/base/_grid.scss */
  .col-2-xl {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    width: 50%;
  }

  /* line 283, ../../src/scss/base/_grid.scss */
  .col-3-xl {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
            flex-basis: 33.3333333333%;
    width: 33.3333333333%;
  }

  /* line 283, ../../src/scss/base/_grid.scss */
  .col-4-xl {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    width: 25%;
  }

  /* line 283, ../../src/scss/base/_grid.scss */
  .col-5-xl {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    width: 20%;
  }

  /* line 283, ../../src/scss/base/_grid.scss */
  .col-6-xl {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
            flex-basis: 16.6666666667%;
    width: 16.6666666667%;
  }

  /* line 283, ../../src/scss/base/_grid.scss */
  .col-7-xl {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 14.2857142857%;
        -ms-flex-preferred-size: 14.2857142857%;
            flex-basis: 14.2857142857%;
    width: 14.2857142857%;
  }

  /* line 283, ../../src/scss/base/_grid.scss */
  .col-8-xl {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 12.5%;
        -ms-flex-preferred-size: 12.5%;
            flex-basis: 12.5%;
    width: 12.5%;
  }

  /* line 283, ../../src/scss/base/_grid.scss */
  .col-9-xl {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 11.1111111111%;
        -ms-flex-preferred-size: 11.1111111111%;
            flex-basis: 11.1111111111%;
    width: 11.1111111111%;
  }

  /* line 283, ../../src/scss/base/_grid.scss */
  .col-10-xl {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 10%;
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
    width: 10%;
  }
}
