// ----------------------------------------------------------------------------
// Flexie grid system
// @author: Azin Asili
//
// Flexie is a modular SCSS flexbox grid system
// Use the predefined row an column mixins
// or customize your own grid system with the helper mixins
//
// 1. Flexie base
// 2. Row helpers
// 3. Column 4elpers
// 3. Flexie mixins
// ----------------------------------------------------------------------------

// Import Flexie settings
@import 'flexie-settings';

// ----------------------------------------------------------------------------
// 1. Flex base
// ----------------------------------------------------------------------------

// Create flex content
@mixin flexie-display($display: flex) {
  @if index('flex' 'inline-flex', $display) {
    display: $display;
  } @else {
    @warn '#{$display} is not an accepted argument of flexie-display(). Please use `flex` or `inline-flex` instead.';
  }
}

// Flex direction
@mixin flexie-direction($direction: row) {
  @if index('row' 'row-reverse' 'column' 'column-reverse', $direction) {
    flex-direction: $direction;
  } @else {
    @warn '#{$direction} is not an accepted argument of flexie-direction(). Please use `row`, `row-reverse`, `column`, or `column-reverse` instead.';
  }
}


// ----------------------------------------------------------------------------
// 2. Row helpers
// ----------------------------------------------------------------------------

// Flexie row gutter
@mixin flexie-row-gutter($gutter: map-get($flexie, gutter)) {
  @if type-of($gutter) != number or unitless($gutter) == true {
    @warn '#{$gutter} is not an accepted argument of flexie-row-gutter(). Please use a number with a unit instead';
  } @else {
    margin-left: $gutter/-2;
    margin-right: $gutter/-2;
  }
}

// Flexie row wrap
@mixin flexie-row-wrap($wrap: wrap) {
  @if index('wrap' 'wrap-reverse' 'nowrap', $wrap) {
    flex-wrap: $wrap;
  } @else {
    @warn '#{$wrap} is not an accepted argument of flexie-row-wrap(). Please use `wrap`, `wrap-reverse`, or `nowrap` instead.';
  }
}

// Flexie row justification
@mixin flexie-row-justify($justify: flex-start) {
  $shorthand: (
    right   : flex-end,
    left    : flex-start,
    between : space-between,
    around  : space-around
  );
  @if index('flex-start' 'center' 'flex-end' 'space-between' 'space-around', $justify) {
    justify-content: $justify;
  } @else if map-has-key($shorthand, $justify) {
    justify-content: map-get($shorthand, $justify);
  } @else {
    @warn '#{$justify} is not an accepted argument for flexie-row-justify(). Please use `flex-start`, `flex-end`, `space-between`, `space-around`, `center`, `right`, `left`, `between`, or `around` instead.';
  }
}

// Flexie row children align
@mixin flexie-row-align($align: flex-start) {
  $shorthand: (
    top    : flex-start,
    bottom : flex-end,
    middle : center
  );
  @if index('flex-start' 'flex-end' 'center' 'stretch' 'baseline', $align) {
    align-items: $align;
  } @else if map-has-key($shorthand, $align) {
    align-items: map-get($shorthand, $align);
  } @else {
    @warn '#{$align} is not an accepted argument for flexie-row-align(). Please us `flex-start`, `flex-end`, `center`, `stretch`, `baseline`, `top`, `middle`, or `bottom` instead.';
  }
}


// ----------------------------------------------------------------------------
// 3. Column helpers
// ----------------------------------------------------------------------------

// Flexie column width
@mixin flexie-col-width($width: auto) {
  @if $width != auto {
    flex-basis: percentage($width);
    flex-grow: 0;
    width: percentage($width);
  } @else {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
  }
}

// Flexie coloumn align
@mixin flexie-col-align($align: flex-start) {
  $shorthand: (
    top    : flex-start,
    bottom : flex-end,
    middle : center
  );
  @if index('flex-start' 'center' 'flex-end' 'stretch', $align) {
    align-self: $align;
  } @else if map-has-key($shorthand, $align) {
    align-self: map-get($shorthand, $align);
  } @else {
    @warn '#{$align} is not an accepted argument for flexie-col-align(). Please us `flex-start`, `flex-end`, `center`, `stretch`, `baseline`, `top`, `middle`, or `bottom` instead.';
  }
}

// Flexie column ordering
@mixin flexie-col-order($order: null) {
  @if $order != null and unitless($order) == true and round($order) == $order {
    order: $order;
  } @else {
    @warn '#{$order} is not an accepted argument of flexie-col-order(). Please use an integer instead.';
  }
}

// Flexie column gutter width
@mixin flexie-col-gutter($gutter: map-get($flexie, gutter)) {
  @if type-of($gutter) != number or unitless($gutter) == true {
    @warn '#{$gutter} is not an accepted argument of flexie-col-gutter(). Please use a number with a unit instead';
  } @else {
    padding-left: $gutter/2;
    padding-right: $gutter/2;
  }
}


// ----------------------------------------------------------------------------
// 4. Flexie mixins
// ----------------------------------------------------------------------------

// Container mixin
@mixin flexie-container($width: map-get($flexie, container-width), $gutter: map-get($flexie, gutter)) {
  @include flexie-col-gutter($gutter);
  @if $width == map-get($flexie, container-width) {
    max-width: map-get($flexie, container-width);
  } @else {
    max-width: $width;
  }
  @if $width != 100% {
    margin-left: auto;
    margin-right: auto;
  }
  width: 100%;
}

// Row mixin
@mixin flexie-row($display: flex, $direction: row, $wrap: wrap, $gutter: map-get($flexie, gutter), $justify: null, $align: null) {
  @include flexie-display($display);
  @include flexie-direction($direction);
  @include flexie-row-wrap($wrap);
  @include flexie-row-gutter($gutter);

  // Check if row is justified
  @if $justify != null {
    @include flexie-row-justify($justify);
  }

  // Check if row is aligned
  @if $align != null {
    @include flexie-row-align($align);
  }
}

// Column mixin
@mixin flexie-col($display: flex, $direction: column, $width: auto, $gutter: map-get($flexie, gutter), $align: null, $order: null) {
  @include flexie-display($display);
  @include flexie-direction($direction);
  @include flexie-col-width($width);

  // Check if column is aligned
  @if $align != null {
    @include flexie-col-align($align);
  }

  // Check if column is re-ordered
  @if $order != null {
    @include flexie-col-order($order);
  }

  @include flexie-col-gutter($gutter);
  flex-shrink: 0;
}
