// ----------------------------------------------------------------------------
// Flexie grid system
// @author: Azin Asili
//
// Flexie is a modular SCSS flexbox grid system
// Use the predefined row an column mixins
// or customize your own grid system with the helper mixins
//
// 1. Flexie base
// 2. Row helpers
// 3. Column 4elpers
// 3. Flexie mixins
// ----------------------------------------------------------------------------

// Import Flexie settings
@import 'flexie-settings';

// ----------------------------------------------------------------------------
// 1. Flex base
// ----------------------------------------------------------------------------

// Create flex content
@mixin flexie-display($flexie-display: flex) {
  @if index('flex' 'inline-flex', $flexie-display) {
    display: $flexie-display;
  } @else {
    @warn '#{$flexie-display} is not an accepted argument of flexie-display(). Please use `flex` or `inline-flex` instead.';
  }
}

// Flex direction
@mixin flexie-direction($flexie-direction: row) {
  @if index('row' 'row-reverse' 'column' 'column-reverse', $flexie-direction) {
    flex-direction: $flexie-direction;
  } @else {
    @warn '#{$flexie-direction} is not an accepted argument of flexie-direction(). Please use `row`, `row-reverse`, `column`, or `column-reverse` instead.';
  }
}


// ----------------------------------------------------------------------------
// 2. Row helpers
// ----------------------------------------------------------------------------

// Flexie row gutter
// Output CSS only if $flexie-row-gutter is greater than 0
@mixin flexie-row-gutter($flexie-row-gutter: map-get($flexie, gutter)) {
  @if $flexie-row-gutter > 0 {
    @if type-of($flexie-row-gutter) != number or unitless($flexie-row-gutter) == true {
      @warn '#{$flexie-row-gutter} is not an accepted argument of flexie-row-gutter(). Please use a number with a unit instead';
    } @else {
      margin-left: $flexie-row-gutter/-2;
      margin-right: $flexie-row-gutter/-2;
    }
  }
}

// Flexie row wrap
@mixin flexie-row-wrap($flexie-row-wrap: wrap) {
  @if index('wrap' 'wrap-reverse' 'nowrap', $flexie-row-wrap) {
    flex-wrap: $flexie-row-wrap;
  } @else {
    @warn '#{$flexie-row-wrap} is not an accepted argument of flexie-row-wrap(). Please use `wrap`, `wrap-reverse`, or `nowrap` instead.';
  }
}

// Flexie row justification
@mixin flexie-row-justify($flexie-row-justify: flex-start) {
  $shorthand: (
    right   : flex-end,
    left    : flex-start,
    between : space-between,
    around  : space-around
  );
  @if index('flex-start' 'center' 'flex-end' 'space-between' 'space-around', $flexie-row-justify) {
    justify-content: $flexie-row-justify;
  } @else if map-has-key($shorthand, $flexie-row-justify) {
    justify-content: map-get($shorthand, $flexie-row-justify);
  } @else {
    @warn '#{$flexie-row-justify} is not an accepted argument for flexie-row-justify(). Please use `flex-start`, `flex-end`, `space-between`, `space-around`, `center`, `right`, `left`, `between`, or `around` instead.';
  }
}

// Flexie row children align
@mixin flexie-row-align($flexie-row-align: flex-start) {
  $shorthand: (
    top    : flex-start,
    bottom : flex-end,
    middle : center
  );
  @if index('flex-start' 'flex-end' 'center' 'stretch' 'baseline', $flexie-row-align) {
    align-items: $flexie-row-align;
  } @else if map-has-key($shorthand, $flexie-row-align) {
    align-items: map-get($shorthand, $flexie-row-align);
  } @else {
    @warn '#{$flexie-row-align} is not an accepted argument for flexie-row-align(). Please us `flex-start`, `flex-end`, `center`, `stretch`, `baseline`, `top`, `middle`, or `bottom` instead.';
  }
}


// ----------------------------------------------------------------------------
// 3. Column helpers
// ----------------------------------------------------------------------------

// Flexie column width
@mixin flexie-col-width($flexie-col-width: auto) {
  @if $flexie-col-width != auto {
    flex-basis: percentage($flexie-col-width);
    flex-grow: 0;
    width: percentage($flexie-col-width);
  } @else {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
  }
}

// Flexie coloumn align
@mixin flexie-col-align($flexie-col-align: flex-start) {
  $shorthand: (
    top    : flex-start,
    bottom : flex-end,
    middle : center
  );
  @if index('flex-start' 'center' 'flex-end' 'stretch', $flexie-col-align) {
    align-self: $flexie-col-align;
  } @else if map-has-key($shorthand, $flexie-col-align) {
    align-self: map-get($shorthand, $flexie-col-align);
  } @else {
    @warn '#{$flexie-col-align} is not an accepted argument for flexie-col-align(). Please us `flex-start`, `flex-end`, `center`, `stretch`, `baseline`, `top`, `middle`, or `bottom` instead.';
  }
}

// Flexie column ordering
@mixin flexie-col-order($flexie-col-order: null) {
  @if $flexie-col-order != null and unitless($flexie-col-order) == true and round($flexie-col-order) == $flexie-col-order {
    order: $flexie-col-order;
  } @else {
    @warn '#{$flexie-col-order} is not an accepted argument of flexie-col-order(). Please use an integer instead.';
  }
}

// Flexie column gutter width
// Output CSS only if $flexie-col-gutter is greater than 0
@mixin flexie-col-gutter($flexie-col-gutter: map-get($flexie, gutter)) {
  @if $flexie-col-gutter > 0 {
    @if type-of($flexie-col-gutter) != number or unitless($flexie-col-gutter) == true {
      @warn '#{$flexie-col-gutter} is not an accepted argument of flexie-col-gutter(). Please use a number with a unit instead';
    } @else {
      padding-left: $flexie-col-gutter/2;
      padding-right: $flexie-col-gutter/2;
    }
  }
}


// ----------------------------------------------------------------------------
// 4. Flexie mixins
// ----------------------------------------------------------------------------

// Container mixin
@mixin flexie-container($width: map-get($flexie, container-width), $gutter: map-get($flexie, gutter)) {
  @include flexie-col-gutter($gutter);
  @if $width != 100% {
    margin-left: auto;
    margin-right: auto;
    max-width: $width;
  }
  width: 100%;
}

// Row mixin
@mixin flexie-row($display: flex, $direction: row, $wrap: wrap, $gutter: map-get($flexie, gutter), $justify: null, $align: null) {
  @include flexie-display($display);
  @include flexie-direction($direction);
  @include flexie-row-wrap($wrap);
  @include flexie-row-gutter($gutter);

  // Check if row is justified
  @if $justify != null {
    @include flexie-row-justify($justify);
  }

  // Check if row is aligned
  @if $align != null {
    @include flexie-row-align($align);
  }
}

// Column mixin
@mixin flexie-col($display: flex, $direction: column, $width: auto, $gutter: map-get($flexie, gutter), $align: null, $order: null) {
  @include flexie-display($display);
  @include flexie-direction($direction);
  @include flexie-col-width($width);

  // Check if column is aligned
  @if $align != null {
    @include flexie-col-align($align);
  }

  // Check if column is re-ordered
  @if $order != null {
    @include flexie-col-order($order);
  }

  @include flexie-col-gutter($gutter);
  flex-shrink: 0;
}
