// ----------------------------------------------------------------------------
// Flexie Grid Options
// ----------------------------------------------------------------------------
$flexie: (
  gutter: 20px,
  columns: 10,
  max-width: 1140px
);
