// ----------------------------------------------------------------------------
// The Grid
// Structure and layout
//
// Demo
// 1. Universal grid structure
// 2. Grid overrides
// 3. Grid system
// 4. Breakpoints
// ----------------------------------------------------------------------------


// ----------------------------------------------------------------------------
// Demo
// ----------------------------------------------------------------------------

// Column styles for demo
.col {
  background: scale-color($color-primary-lightest, $alpha: -80%);
  box-shadow: inset 0 0 0 1px scale-color($color-primary-lightest, $alpha: -80%);
  padding-bottom: 10px;
  padding-top: 10px;
}

// Illustrates grid with content
.box {
  background: $color-primary;
  border-radius: 3px;
  color: $color-white;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;

  // Large variation
  &.box-large {
    padding-bottom: 75px;
  }
}


// ----------------------------------------------------------------------------
// 1. Universal grid structure
// ----------------------------------------------------------------------------

// Global container object
.container {
  @include flexie-container();
}

// Column container
.row {
  @include flexie-row();
}

// Column base object
.col {
  @include flexie-col();
}


// ----------------------------------------------------------------------------
// 2. Grid overrides
// ----------------------------------------------------------------------------

// Reverse column order
.row-reverse   {
  @include flexie-row-direction(row-reverse);
  @include flexie-row-wrap(wrap-reverse);
}

// Horizontal alignment for children columns
.row-start     { @include flexie-row-justify(flex-start); }
.row-center    { @include flexie-row-justify(center); }
.row-end       { @include flexie-row-justify(flex-end); }

// Vertical alignment for children columns
.row-top       { @include flexie-row-align(flex-start); }
.row-middle    { @include flexie-row-align(center); }
.row-bottom    { @include flexie-row-align(flex-end); }
.row-stretch   { @include flexie-row-align(stretch); }

// Evenly distribute remaining space for children columns
.row-around    { @include flexie-row-justify(space-around); }
.row-between   { @include flexie-row-justify(space-between); }

  // Column alignment overrides
.col-top       { @include flexie-col-align(flex-start); }
.col-middle    { @include flexie-col-align(center); }
.col-bottom    { @include flexie-col-align(flex-end); }
.col-stretch   { @include flexie-col-align(stretch); }

// Re-order columns
@if map-has-key($flexie, columns) {
  @for $i from 1 through map-get($flexie, columns) {
    .order-#{$i} { @include flexie-col-order($i); }
  }
} @else {
  @for $i from 1 through 10 {
    .order-#{$i} { @include flexie-col-order($i); }
  }
}


// ----------------------------------------------------------------------------
// 3. Grid system
// ----------------------------------------------------------------------------
.col-auto { @include flexie-col-width(); }

// Column sizes
@if map-has-key($flexie, columns) {
  @for $i from 1 through map-get($flexie, columns) {
    .col-#{$i}   { @include flexie-col-width(1/$i); }
  }
} @else {
  @for $i from 1 through 10 {
    .col-#{$i}   { @include flexie-col-width(1/$i); }
  }
}


// ----------------------------------------------------------------------------
// 4. Breakpoints
// ----------------------------------------------------------------------------

// Medium breakpoint
@include mq($from: tablet) {
  // Reverse column order
  .row-reverse-md   {
    @include flexie-row-direction(row-reverse);
    @include flexie-row-wrap(wrap-reverse);
  }

  // Horizontal alignment for children columns
  .row-start-md     { @include flexie-row-justify(flex-start); }
  .row-center-md    { @include flexie-row-justify(center); }
  .row-end-md       { @include flexie-row-justify(flex-end); }

  // Vertical alignment for children columns
  .row-top-md       { @include flexie-row-align(flex-start); }
  .row-middle-md    { @include flexie-row-align(center); }
  .row-bottom-md    { @include flexie-row-align(flex-end); }
  .row-stretch-md   { @include flexie-row-align(stretch); }

  // Evenly distribute remaining space for children columns
  .row-around-md    { @include flexie-row-justify(space-around); }
  .row-between-md   { @include flexie-row-justify(space-between); }

  // Column alignment overrides
  .col-top-md       { @include flexie-col-align(flex-start); }
  .col-middle-md    { @include flexie-col-align(center); }
  .col-bottom-md    { @include flexie-col-align(flex-end); }
  .col-stretch-md   { @include flexie-col-align(stretch); }

  // Re-order columns
  @if map-has-key($flexie, columns) {
    @for $i from 1 through map-get($flexie, columns) {
      .order-#{$i}-md { @include flexie-col-order($i); }
    }
  } @else {
    @for $i from 1 through 10 {
      .order-#{$i}-md { @include flexie-col-order($i); }
    }
  }

  // Auto size column
  .col-auto-md { @include flexie-col-width(); }

  // Column sizes
  @if map-has-key($flexie, columns) {
    @for $i from 1 through map-get($flexie, columns) {
      .col-#{$i}-md   { @include flexie-col-width(1/$i); }
    }
  } @else {
    @for $i from 1 through 10 {
      .col-#{$i}-md   { @include flexie-col-width(1/$i); }
    }
  }
}

// Desktop breakpoint
@include mq($from: desktop) {
  // Reverse column order
  .row-reverse-lg   {
    @include flexie-row-direction(row-reverse);
    @include flexie-row-wrap(wrap-reverse);
  }

  // Horizontal alignment for children columns
  .row-start-lg     { @include flexie-row-justify(flex-start); }
  .row-center-lg    { @include flexie-row-justify(center); }
  .row-end-lg       { @include flexie-row-justify(flex-end); }

  // Vertical alignment for children columns
  .row-top-lg       { @include flexie-row-align(flex-start); }
  .row-middle-lg    { @include flexie-row-align(center); }
  .row-bottom-lg    { @include flexie-row-align(flex-end); }
  .row-stretch-lg   { @include flexie-row-align(stretch); }

  // Evenly distribute remaining space for children columns
  .row-around-lg    { @include flexie-row-justify(space-around); }
  .row-between-lg   { @include flexie-row-justify(space-between); }

  // Column alignment overrides
  .col-top-lg       { @include flexie-col-align(flex-start); }
  .col-middle-lg    { @include flexie-col-align(center); }
  .col-bottom-lg    { @include flexie-col-align(flex-end); }
  .col-stretch-lg   { @include flexie-col-align(stretch); }

  // Re-order columns
  @if map-has-key($flexie, columns) {
    @for $i from 1 through map-get($flexie, columns) {
      .order-#{$i}-lg { @include flexie-col-order($i); }
    }
  } @else {
    @for $i from 1 through 10 {
      .order-#{$i}-lg { @include flexie-col-order($i); }
    }
  }

  // Auto size column
  .col-auto-lg { @include flexie-col-width(); }

  // Column sizes
  @if map-has-key($flexie, columns) {
    @for $i from 1 through map-get($flexie, columns) {
      .col-#{$i}-lg   { @include flexie-col-width(1/$i); }
    }
  } @else {
    @for $i from 1 through 10 {
      .col-#{$i}-lg   { @include flexie-col-width(1/$i); }
    }
  }
}

// Wide breakpoint
@include mq($from: wide) {
  // Reverse column order
  .row-reverse-xl   {
    @include flexie-row-direction(row-reverse);
    @include flexie-row-wrap(wrap-reverse);
  }

  // Horizontal alignment for children columns
  .row-start-xl     { @include flexie-row-justify(flex-start); }
  .row-center-xl    { @include flexie-row-justify(center); }
  .row-end-xl       { @include flexie-row-justify(flex-end); }

  // Vertical alignment for children columns
  .row-top-xl       { @include flexie-row-align(flex-start); }
  .row-middle-xl    { @include flexie-row-align(center); }
  .row-bottom-xl    { @include flexie-row-align(flex-end); }
  .row-stretch-xl   { @include flexie-row-align(stretch); }

  // Evenly distribute remaining space for children columns
  .row-around-xl    { @include flexie-row-justify(space-around); }
  .row-between-xl   { @include flexie-row-justify(space-between); }

  // Column alignment overrides
  .col-top-xl       { @include flexie-col-align(flex-start); }
  .col-middle-xl    { @include flexie-col-align(center); }
  .col-bottom-xl    { @include flexie-col-align(flex-end); }
  .col-stretch-xl   { @include flexie-col-align(stretch); }

  // Re-order columns
  @if map-has-key($flexie, columns) {
    @for $i from 1 through map-get($flexie, columns) {
      .order-#{$i}-xl { @include flexie-col-order($i); }
    }
  } @else {
    @for $i from 1 through 10 {
      .order-#{$i}-xl { @include flexie-col-order($i); }
    }
  }

  // Auto size column
  .col-auto-xl { @include flexie-col-width(); }

  // Column sizes
  @if map-has-key($flexie, columns) {
    @for $i from 1 through map-get($flexie, columns) {
      .col-#{$i}-xl   { @include flexie-col-width(1/$i); }
    }
  } @else {
    @for $i from 1 through 10 {
      .col-#{$i}-xl   { @include flexie-col-width(1/$i); }
    }
  }
}

