// ----------------------------------------------------------------------------
// The Grid
// Structure and layout
//
// Demo
// 1. Universal grid structure
// 2. Grid overrides
// 3. Grid system
// 4. Breakpoints
// ----------------------------------------------------------------------------


// ----------------------------------------------------------------------------
// Demo
// ----------------------------------------------------------------------------

// Column styles for demo
.col {
  @include rem(padding-top, 10px);
  @include rem(padding-bottom, 10px);
  background: scale-color($color-primary-lightest, $alpha: -80%);
  box-shadow: inset 0 0 0 1px scale-color($color-primary-lightest, $alpha: -80%);
}

// Illustrates grid with content
.box {
  @include rem(border-radius, 3px);
  @include rem(padding, 5px);
  background: $color-primary;
  color: $color-white;
  overflow: hidden;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;

  // Large variation
  &.box-large {
    @include rem(padding-bottom, 75px);
  }
}


// ----------------------------------------------------------------------------
// 1. Universal grid structure
// ----------------------------------------------------------------------------

// Global container object
.container {
  @include ss();
  @include rem(padding-left, $gutter-width/2);
  @include rem(padding-right, $gutter-width/2);
}

// Column container
.row {
  @include rem(margin-left, -$gutter-width/2);
  @include rem(margin-right, -$gutter-width/2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// Column base object
.col {
  @include rem(padding-left, $gutter-width/2);
  @include rem(padding-right, $gutter-width/2);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}


// ----------------------------------------------------------------------------
// 2. Grid overrides
// ----------------------------------------------------------------------------

// Reverse column order
.row-reverse   { flex-direction: row-reverse; flex-wrap: row-reverse; }

// Horizontal alignment for children columns
.row-start     { justify-content: flex-start; }
.row-center    { justify-content: center; }
.row-end       { justify-content: flex-end; }

// Vertical alignment for children columns
.row-top       { align-items: flex-start; }
.row-middle    { align-items: center; }
.row-bottom    { align-items: flex-end; }
.row-stretch   { align-items: stretch; }

// Evenly distribute remaining space for children columns
.row-around    { justify-content: space-around; }
.row-between   { justify-content: space-between; }

  // Column alignment overrides
.col-top       { align-self: flex-start; }
.col-middle    { align-self: center; }
.col-bottom    { align-self: flex-end; }
.col-stretch   { align-self: stretch; }

// Re-order columns
@for $i from 1 through 10 {
  .order-#{$i} { order: $i; }
}


// ----------------------------------------------------------------------------
// 3. Grid system
// ----------------------------------------------------------------------------
.col-auto { flex-basis: 0; flex-grow: 1; }

// Column sizes
@for $i from 1 through 10 {
  .col-#{$i}   { flex-basis: percentage(1/$i); }
}

// Need to fix this logic
// Create loops to output proper grids
// Missing: 3/5, 4/7, 5/7, 3/8, 5/8, 5/9, 7/9, 7/10
// @for $i from 1 through 10 {
//   @if $i == 1 {
//     .col-#{$i} { width: $i; }
//   } @else {
//     .col-#{$i} { width: 1 $i; }
//   }
//   @for $j from 1 through 10 {
//     @if $j < $i and /*($i/$j != $i or $i/$j == $i) and*/ $i % $j == 1 {
//       .col-#{$j}-#{$i} { width: $j $i; }
//     }
//   }
// }


// ----------------------------------------------------------------------------
// 4. Breakpoints
// ----------------------------------------------------------------------------

// Medium breakpoint
@include mq($from: tablet) {
  // Reverse column order
  .row-reverse-md   { flex-direction: row-reverse; flex-wrap: row-reverse; }

  // Horizontal alignment for children columns
  .row-start-md     { justify-content: flex-start; }
  .row-center-md    { justify-content: center; }
  .row-end-md       { justify-content: flex-end; }

  // Vertical alignment for children columns
  .row-top-md       { align-items: flex-start; }
  .row-middle-md    { align-items: center; }
  .row-bottom-md    { align-items: flex-end; }
  .row-stretch-md   { align-items: stretch; }

  // Evenly distribute remaining space for children columns
  .row-around-md    { justify-content: space-around; }
  .row-between-md   { justify-content: space-between; }

  // Column alignment overrides
  .col-top-md       { align-self: flex-start; }
  .col-middle-md    { align-self: center; }
  .col-bottom-md    { align-self: flex-end; }
  .col-stretch-md   { align-self: stretch; }

  // Re-order columns
  @for $i from 1 through 10 {
    .order-#{$i}-md { order: $i; }
  }

  // Auto size column
  .col-auto-md { flex-basis: 0; flex-grow: 1; }

  // Column sizes
  @for $i from 1 through 10 {
    .col-#{$i}-md   { flex-basis: percentage(1/$i); }
  }
}

// Desktop breakpoint
@include mq($from: desktop) {
  // Reverse column order
  .row-reverse-lg   { flex-direction: row-reverse; flex-wrap: row-reverse; }

  // Horizontal alignment for children columns
  .row-start-lg     { justify-content: flex-start; }
  .row-center-lg    { justify-content: center; }
  .row-end-lg       { justify-content: flex-end; }

  // Vertical alignment for children columns
  .row-top-lg       { align-items: flex-start; }
  .row-middle-lg    { align-items: center; }
  .row-bottom-lg    { align-items: flex-end; }
  .row-stretch-lg   { align-items: stretch; }

  // Evenly distribute remaining space for children columns
  .row-around-lg    { justify-content: space-around; }
  .row-between-lg   { justify-content: space-between; }

  // Column alignment overrides
  .col-top-lg       { align-self: flex-start; }
  .col-middle-lg    { align-self: center; }
  .col-bottom-lg    { align-self: flex-end; }
  .col-stretch-lg   { align-self: stretch; }

  // Re-order columns
  @for $i from 1 through 10 {
    .order-#{$i}-lg { order: $i; }
  }

  // Auto size column
  .col-auto-lg { flex-basis: 0; flex-grow: 1; }

  // Column sizes
  @for $i from 1 through 10 {
    .col-#{$i}-lg   { flex-basis: percentage(1/$i); }
  }
}

// Wide breakpoint
@include mq($from: wide) {
  // Reverse column order
  .row-reverse-xl   { flex-direction: row-reverse; flex-wrap: row-reverse; }

  // Horizontal alignment for children columns
  .row-start-xl     { justify-content: flex-start; }
  .row-center-xl    { justify-content: center; }
  .row-end-xl       { justify-content: flex-end; }

  // Vertical alignment for children columns
  .row-top-xl       { align-items: flex-start; }
  .row-middle-xl    { align-items: center; }
  .row-bottom-xl    { align-items: flex-end; }
  .row-stretch-xl   { align-items: stretch; }

  // Evenly distribute remaining space for children columns
  .row-around-xl    { justify-content: space-around; }
  .row-between-xl   { justify-content: space-between; }

  // Column alignment overrides
  .col-top-xl       { align-self: flex-start; }
  .col-middle-xl    { align-self: center; }
  .col-bottom-xl    { align-self: flex-end; }
  .col-stretch-xl   { align-self: stretch; }

  // Re-order columns
  @for $i from 1 through 10 {
    .order-#{$i}-xl { order: $i; }
  }

  // Auto size column
  .col-auto-xl { flex-basis: 0; flex-grow: 1; }

  // Column sizes
  @for $i from 1 through 10 {
    .col-#{$i}-xl   { flex-basis: percentage(1/$i); }
  }
}

