/// Column width setter
/// @param {string | number} $col-width [auto] - Column width
/// @output Flex item width
/// @todo Change to flex shorthand, currently cssmin grunt plugin
///       causes a bug in IE because it removes units on 0 values
/// @example scss
///   .foo {
///     @include yoga-width(3/5);
///   }
/// @example css
///   .foo {
///     flex-grow: 0;
///     flex-shrink: 1;
///     flex-basis: 60%;
///     max-width: 60%;
///   }
@mixin yoga-width($width: null) {
  @if $width == null {
    flex: 0 1 auto;
  } @else if $width == auto {
    flex: 1 0 auto;
    max-width: 100%;
    min-width: 0;
  } @else {
    @if type-of($width) == number and floor(abs($width)) != abs($width) {
      flex: 0 1 percentage($width);
      max-width: percentage($width);
    } @else {
      flex: 0 1 $width;
      max-width: $width;
    }
  }
}
