/// Create container element
/// @author Azin Asili
/// @access public
/// @param {number} $width [map-get($yoga, max-width)] - Container element width
/// @param {number} $gutter [map-get($yoga, gutter)] - Container element gutter width
/// @require {mixin} yoga-gutter - Parent or child gutter setter
/// @output Width and center container element
/// @example scss
///   .foo {
///     @include yoga-container(1500px, 20px);
///   }
/// @example css
///   .foo {
///     margin-left: auto;
///     margin-right: auto;
///     max-width: 1500px;
///     padding-left: 10px;
///     padding-right: 10px;
///     width: 100%;
///   }
@mixin yoga-container($width: map-get($yoga, max-width), $gutter: map-get($yoga, gutter)) {
  @if $width != 100% {
    margin-left: auto;
    margin-right: auto;
    max-width: $width;
  }
  @include yoga-gutter($gutter, child);
  width: 100%;
}
