/// Create row element
/// @author Azin Asili
/// @access public
/// @param {string} $display [flex] - Flex display value
/// @param {string} $direction [row] - Flex direction value
/// @param {string} $wrap [wrap] - Flex wrap value
/// @param {number} $gutter [map-get($yoga, gutter)] - Gutter width
/// @param {string} $justify [null] - Justify-content value
/// @param {string} $align [null] - Flex alignment value
/// @require {mixin} yoga-display - Flex display property setter
/// @require {mixin} yoga-direction - Flex direction property setter
/// @require {mixin} yoga-wrap - Flex-wrap property setter
/// @require {mixin} yoga-gutter - Row or column gutter width setter
/// @require {mixin} yoga-justify - Justify-content property setter
/// @require {mixin} yoga-align - Flex alignment setter
/// @output Display, flex-direction, flex-wrap, margin, justify-content, and align-items declarations to create row
/// @example scss
///   .foo {
///     @include yoga-row(flex, row-reverse, nowrap, 20px, center, stretch);
///   }
/// @example css
///   .foo {
///     align-items: stretch;
///     display: flex;
///     flex-direction: row-reverse;
///     margin-left: -10px;
///     margin-right: -10px;
///     justify-content: center;
///     flex-wrap: nowrap;
///   }
@mixin yoga-row(
  $display: flex,
  $direction: row,
  $wrap: wrap,
  $gutter: map-get($yoga, gutter),
  $justify: null,
  $align: null
) {
  @if $align != null {
    @include yoga-align(row, $align);
  }
  @include yoga-display($display);
  @include yoga-direction($direction);
  @include yoga-gutter(row, $gutter);
  @if $justify != null {
    @include yoga-justify($justify);
  }
  @include yoga-wrap($wrap);
}
